<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>My Website - About</title>
  <link rel="stylesheet" href="/static/css/app.css"> 
 </head> 
   <body>     
      <h1>Ronaldo Reid</h1>    
        <p>My name is Ronaldo Reid, I reside in Spanish Town. My former highschool is the great St. Jago High, and I am currently pursuing a BSc in Computer Science. One day I hope to achieve both small and great things such as a stable financial income and to a further extent provide perfor real estate investments in order to improve Jamaica's welbeing in the long run.</p> 
    </body> 
</html>
